# Auto-detect text files and normalize to LF on commit
* text=auto

# Explicitly set XML and YAML files to LF on commit, CRLF on checkout on Windows
*.xml text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.md text eol=crlf
*.py text eol=crlf
*.json text eol=crlf
*.txt text eol=crlf
*.sh text eol=lf
